# Ignorar todo por defecto...
/*

# ...excepto los archivos de configuracion de git
!/.gitignore
!/.gitattributes

# ...y la carpeta del curso MEI Explorando Moodle
!/MEI Explorando Moodle/

# Dentro de MEI Explorando Moodle, ignorar todo...
/MEI Explorando Moodle/*

# ...excepto las 12 unidades
!/MEI Explorando Moodle/Unidad_01/
!/MEI Explorando Moodle/Unidad_02/
!/MEI Explorando Moodle/Unidad_03/
!/MEI Explorando Moodle/Unidad_04/
!/MEI Explorando Moodle/Unidad_05/
!/MEI Explorando Moodle/Unidad_06/
!/MEI Explorando Moodle/Unidad_07/
!/MEI Explorando Moodle/Unidad_08/
!/MEI Explorando Moodle/Unidad_09/
!/MEI Explorando Moodle/Unidad_10/
!/MEI Explorando Moodle/Unidad_11/
!/MEI Explorando Moodle/Unidad_12/


